tools/accessibility-pipeline/asl-dict/*.webm filter=lfs diff=lfs merge=lfs -text
tools/accessibility-pipeline/psl-dict/*.webm filter=lfs diff=lfs merge=lfs -text
tools/accessibility-pipeline/*-dict-full/*.webm filter=lfs diff=lfs merge=lfs -text
